<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar flex flex-col items-start space-y-2">
        <a href="/" class="text-lg">Lego Collection</a>
        <a href="/about">About</a>
        <details class="dropdown">
            <summary>Theme</summary>
            <ul>
                <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="/lego/sets?theme=Books">Books</a></li>
                <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
            </ul>
        </details>
    </nav>
    <div class="container mx-auto">
        <div class="hero">
            <h1>404</h1>
            <p>Page not found!!!!!</p>
            <a href="/" class="btn">Go to Home</a>
        </div>
    </div>
</body>
</html>
