<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection | About</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar flex flex-col items-start space-y-2">
        <a href="/" class="text-lg">Lego Collection</a>
        <a class="active" href="/about">About</a>
        <details class="dropdown">
            <summary>Theme</summary>
            <ul>
                <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="/lego/sets?theme=Books">Books</a></li>
                <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
            </ul>
        </details>
    </nav>
    <div class="container mx-auto">
        <div class="hero">
            <h1>About</h1>
            <p>All about me and my hobby.</p>
        </div>
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content flex-col lg:flex-row">
                <img src="https://imgur.com/a/5L8j4xY" alt="An image representing me" class="max-w-sm rounded-lg shadow-2xl">
            </div>
            <div>
                <p>My name is Ting-Chen Tsao, I am studying computer programming and analysis program in Seneca Polytechnic</p>
                <p>
                    I love playing video games in my free time, and going out with friends, also play sports such as badminton, basketball, baseball and golf.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
